@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #E81E25 !important;
  background: url(../images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bs4ToastWrapper{
  position: fixed;
  z-index: 1;
  left: 75%;
  top: 1%;
  width: auto;
  /*width: 250px;*/
  background: #77dda1;
  padding: 7px;
  border-radius: 14px;
}

.bs4Toasticonimage{
  height: auto;
}

.bs4Toasticon{
  margin-right: 0.5rem;
}

body .preloader {
  background-color: #202124
}
.preloader .spinner-border {
  width: 2rem !important;
  height: 2rem !important;
  border: 5px solid #b3b3b3;
  border-right-color: transparent
}
.preloader {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: #F4F4F5;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 139px;
}
image{
  text-align: center;
}
.cancel{
  background: #d9e5e8;
  color: #E81E25;
  font-weight: 900 !important;
}
.phoneNumber{
  color: #F4F4F5;
}
.rpt{
  border-radius: 28px !important;
  height: 41px;
  font-weight: 900;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 900;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ada;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 3.25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.outter{
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.navbar-laravel
{
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
  font-family: Raleway, sans-serif;
}

.my-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row
{
  margin-left: 0;
  margin-right: 0;
}

.login-form
{
  padding-top: 1.5rem;
  /*padding-bottom: 1.5rem;*/
}

.login-form .row
{
  margin-left: 0;
  margin-right: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
}
.questions{
  color: #F4F4F5 !important;
  font-weight: 600;
}
.gamming{
  width: 50px;
}


.copyright {
  padding: 28px 0;
  margin-top: 234px;
  background-color: #343a4017;
}
.copyright span,
.copyright a {
  color: #dadada;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.copyright a:hover {
  color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742; }

/*************
#Steps
 ------------------------*/

.steps {
  padding: 16pt 0 72pt;
}

.steps {
  padding: 16pt 0;
}

@media (min-width: 992px) {
  .steps__inner {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
  }
}

.step:first-child {
  border-top: none;
}

/*@media (min-width: 992px) .step {
  margin-top: 30px;
}*/

  .step {
    padding-top: 0;
    /*background-color: #fff;*/
    /*box-shadow: 0 4px 11px rgba(124, 146, 169, .5);*/
    margin-top: 30px;
  }

  /*@media (min-width: 992px) .step {
    border-top: none;
    width: auto;
  }*/

    .step {
      padding: 30px 30px 90px 30px;
      width: 100%;
      /*border-top: 1px solid #eee;*/
      overflow: auto;
    }

    *,
    :after,
    :before {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
    }

    .steps {
      padding: 16pt 0;
    }

    .step {
      margin-top: 30px;
    }

    .step {
      padding-top: 0;
      /*background-color: #fff;*/
      /*box-shadow: 0 4px 11px rgba(124, 146, 169, .5);*/
      margin-top: 30px;
    }

    /*@media (min-width: 992px) .step {
      border-top: none;
      width: auto;
    }*/

      .step {
        padding: 16pt 0;
        width: 100%;
        border-top: 1px solid #eee;
        overflow: auto;
      }

      *,
      :after,
      :before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
      }

      user agent stylesheet div {
        display: block;
      }

      .steps {
        padding: 16pt 0;
      }

      .custom-counter li {
        counter-increment: step-counter;
        margin-bottom: 0;
        padding: 8px 10px;
        background-color: #fff;
        border-top: 1px solid #dde2e8;
      }

      .custom-counter {
        margin: 0;
        padding: 0;
        list-style-type: none;
        max-width: 48ch;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }

      .custom-counter li::before {
        content: counter(step-counter);
        margin-right: 8px;
        font-size: 100%;
        background-color: #F04A3A;
        color: #fff;
        font-weight: 700;
        padding: 2px 6px 1px;
        border-radius: 10px;
      }




#playsupa {
  padding: 60px 0;
}

#playsupa #playsupa-list {
  padding: 0;
  list-style: none;
}

#playsupa #playsupa-list li {
  border-bottom: 1px solid #ddd;
}

#playsupa #playsupa-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: 'NeoTech', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
}

#playsupa #playsupa-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#playsupa #playsupa-list p {
  margin-bottom: 20px;
}

#playsupa #playsupa-list a.collapse {
  color: #F04A3A;
}

#playsupa #playsupa-list a.collapsed {
  color: #000;
}

#playsupa #playsupa-list a.collapsed i::before {
  content: "\f055" !important;
}

.table-bordered th,
.table-bordered td {
  border: none;
}

.step__text {
  max-width: 36ch;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e600 !important;
}

.soon-wrapper,
.soon {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center;
  overflow: hidden
}

.soon-wrapper [class*=soon-],
.soon [class*=soon-] {
  display: inline-block;
  vertical-align: baseline
}

.soon-wrapper,
.soon-wrapper *,
.soon,
.soon * {
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.soon-wrapper>.soon,
.soon>.soon {
  display: block
}

.soon-wrapper.soon-inline,
.soon.soon-inline {
  display: inline-block;
  margin: 0
}

.soon-wrapper>.soon-group,
.soon>.soon-group {
  white-space: nowrap
}

.soon-wrapper .soon-repeater,
.soon-wrapper .soon-group,
.soon .soon-repeater,
.soon .soon-group {
  position: relative;
  z-index: 1
}

.hot-h4 {
  margin: 0 0 10px
}

.expanded-top {
  padding: 20pt 0 72pt
}

.circle {
  position: relative;
  display: inline-block;
  margin: 0 0 0 0;
  background-color: transparent;
  color: #fff400;
  text-align: center;
  width: 32px;
  height: 32px;
}

.combo {
  margin-right: 4px
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #d10024;
  content: "";
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%
}

.circle__content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 0px;
  padding-left: 0;
  font-size: 21px;
}

.frem {
  font-size: 33px;
}

.tac {
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 3px;
  color: #F4F4F5;
}

.hot-number-count {
  font-size: 90%
}

.mobile {
  display: none
}

.desktop {
  display: inline
}

.steps-combos {}

.step-combos {
  width: 100%;
  padding-bottom: 0;
  margin: 3px;
}

.steps-combos p {
  padding: 0 10px
}

.strech {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

table thead tr {
  height: 40px;
  background: #fe9d01;
  color: #FFFFFF;
}

table * {
  position: relative;
}

.column3 {
  width: 196px;
  padding-left: 20px;
}


.expanded {
  padding: 72pt 0;
}

/*.landing__section {*/
/*    padding: 24pt 0;*/
/*}*/
